<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Yo.jpg" class="img-fluid" id="fotodeperfil" />
  </div>
  <div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>FullStack Junior</p>
  </div>
  <div class ="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>
              Acerca de Mi
          </h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, officia animi cupiditate libero adipisci dicta fugiat esse et qui nisi ex delectus eius porro amet odio, saepe debitis quasi necessitatibus.</p>
      </span>
  </div>
</div>
