<div class="row">
  <div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="redes">
      <a href=""><img src="../../../assets/linkedin.png" id="Linkedin" /></a>
      <a href=""><img src="../../../assets/facebook.png" id="Facebook" /></a>
      <a href=""><img src="../../../assets/instagram.png" id="Instagram" /></a>
      <a href=""><img src="../../../assets/github.png" id="Github" /></a>
      <a href=""><img src="../../../assets/twitter.png" id="Twitter" /></a>
      <button type="button" class="btn btn-outline-light">INGRESO</button>
    </div>
  </div>
</div>
